<main class="all-bg">
    <div class="main-heading">
        welcome to Instech  pvt. ltd.
    </div>

    <div class="detail">
        <p class="content">At Instech, our core ethos centers around fostering collaborative partnerships with our valued clients. Every
            client holds paramount significance, and our approach is rooted in a dedicated effort to comprehend their distinct
            requirements and operational approaches. Through consistent interaction and joint efforts, we coalesce to devise
            astute solutions that harmonize with the dynamic demands of their enterprises. This synergistic working methodology
            not only expedites processes but also engenders rapid turnarounds. Over time, we have consistently strived to narrow
            the divide between business objectives and technological implementations, effectively serving as a bridge between
            these crucial domains.</p>

    </div>

    <div class="btn-dir">
        <button class="btn" (click)="gotoSignIn()">Get Started</button>
    </div>

</main>